.container {
  min-width: 1000px;
  margin: 10px auto;
}

HEADER {
  background-color: #8cd0de;
  padding: 5px;
  vertical-align: top;
}
HEADER .logo {
  width: 200px;
  height: 59.33333px;
  text-indent: -9999px;
  background: url(../img/logo.png) 100% 100% no-repeat;
  background-size: cover;
}
HEADER DIV, HEADER LI, HEADER NAV {
  display: inline-block;
  position: relative;
}
HEADER LI {
  color: #d6dadb;
  font-size: 20px;
  padding: 10px;
  margin: -10px 5px 0 5px;
  cursor: pointer;
  background: #2894a9;
  text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
HEADER LI:hover {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background: #27aac4;
}
HEADER LI:active {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
  background: #277f90;
}

.main {
  position: relative;
  text-align: left;
  background-color: #f7f6ec;
}

.card-field {
  display: inline-block;
  width: 100%;
  min-height: 184px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(187, 187, 182, 0.8);
  text-align: left;
  font-size: 0;
}
.card-field H3 {
  font-size: 20px;
  margin: 0 0 0 10px;
}

.hero-pick, .card-pick {
  display: none;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.hero-pick._active, .card-pick._active {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

.card {
  display: inline-block;
  width: 112px;
  height: 174.90639px;
  vertical-align: middle;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.card:hover {
  -moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.65);
  -moz-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}
.card:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 189.90639px;
}
.card .tooltip {
  visibility: hidden;
  position: relative;
  padding: 10px 15px 5px;
  width: 158px;
  top: 194.90639px;
  text-align: left;
  background: rgba(240, 239, 229, 0.9);
  opacity: 0;
  font: 12px/18px "Tahoma";
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.card .tooltip:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(240, 239, 229, 0.9);
  border-top: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 46px;
}
.card .tooltip H4 {
  margin: 0;
}

.hero-pick .hero-card.selected-hero {
  -moz-box-shadow: 0 0 15px 2px gold;
  -webkit-box-shadow: 0 0 15px 2px gold;
  box-shadow: 0 0 15px 2px gold;
}

.players-stat {
  float: right;
  width: 200px;
  background: green;
  height: 500px;
}
