.game_field {
    border-radius: 7px;
    height: 200px;
    width: 1016px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: grey;
}

#lookAtHeroesButton {
    margin-left: 15px;
    border-radius: 5px;
    width: 115px;
    text-align: center;
    border: 2px solid red;
    cursor: pointer;
}

.hero_card {
    display: inline-block;
    height: 175px;
    width: 112px;
    margin-left: 15px;
    margin-top: 12.5px;
    border-radius: 5px;
    background-size: 100%;
    background-color: darkred;
    cursor: pointer;
}

.card_highlighted {
    -webkit-box-shadow: 0 0 15px #FFD700;
    -moz-box-shadow: 0 0 15px #FFD700;
    box-shadow: 0 0 15px #FFD700;
}

.assassin {
    background: url(../img/heroes/01_assasin.png) 100% no-repeat;
    background-size: cover;
}

.thief {
    background: url(../img/heroes/02_thief.png) 100% no-repeat;
    background-size: cover;
}

.mage {
    background: url(../img/heroes/03_mage.png) 100% no-repeat;
    background-size: cover;
}

.king {
    background: url(../img/heroes/04_king.png) 100% no-repeat;
    background-size: cover;
}

.bishop {
    background: url(../img/heroes/05_bishop.png) 100% no-repeat;
    background-size: cover;
}

.merchant {
    background: url(../img/heroes/06_merchant.png) 100% no-repeat;
    background-size: cover;
}

.architect {
    background: url(../img/heroes/07_architect.png) 100% no-repeat;
    background-size: cover;
}

.warlord {
    background: url(../img/heroes/08_warlord.png) 100% no-repeat;
    background-size: cover;
}