@import "compass";

$heroes: 'assassin' 'thief' 'mage' 'king' 'bishop' 'merchant' 'architect' 'warlord';

@each $hero in $heroes {
    .#{$hero} {
        background: url(../img/heroes/#{$hero}.png) 100% 100% no-repeat;
        background-size: contain;
    }
}