@import "compass"

$cardWidth: 112px
$cardHeight: $cardWidth * 1.561664190193165

$bgColor: hsl(190, 55%, 71%)
$butCol: hsl(190, 62%, 41%) //Button Color
$butTextCol: hsl(190, 6%, 85%) //Button Text Color
$cActiveCard: #EEDB6B

$tooltipBg: hsla(53, 26%, 92%, 0.9)

=caret($point, $color) 
    $opposite: opposite-position($point)
    border: 10px solid transparent
    border-#{$opposite}: 10px solid $color
    border-#{$point}: 0
    width: 0
    height: 0


.container    
    min-width: 1000px
    margin: 10px auto


HEADER
    background-color: $bgColor
    padding: 5px
    vertical-align: top

    .logo 
        width: 200px
        height: 59.33333333333333px
        text-indent: -9999px
        background: url(../img/logo.png) 100% 100% no-repeat
        background-size: cover
    
    DIV, LI, NAV
        display: inline-block
        position: relative
    
    LI
        color: $butTextCol
        font-size: 20px
        padding: 10px
        margin: -10px 5px 0 5px
        cursor: pointer
        background: $butCol
        +text-shadow(2px 2px 1px rgba(50, 50, 50, 0.75))
        +box-shadow(2px 2px 1px rgba(50, 50, 50, 0.75))
        +transition(all 0.1s ease-out)

        &:hover 
            +transition(all 0.1s ease-in)
            background: saturate(lighten($butCol, 5%), 5%)
        
        &:active 
            +transition(all 0.1s ease-in)
            +box-shadow(0px 0px 0px rgba(0, 0, 0, 0.1))
            +transform(translate(2px, 2px))
            background: desaturate(darken($butCol, 5%), 5%)
        
     


.main 
    position: relative
    text-align: left
    background-color: #F7F6EC

.card-field
    display: inline-block
    width: 100%
    min-height: 184px
    padding: 10px
    margin: 10px
    background-color: rgba(#BBBBB6, 0.8)
    text-align: left
    font-size: 0

    H3
        font-size: 20px
        margin: 0 0 0 10px

.hero-pick, .card-pick
    display: none
    visibility: hidden
    opacity: 0    
    +transition(all 0.1s ease-out)

    &._active
        display: inline-block
        visibility: visible
        opacity: 1

.card 
    display: inline-block
    width: $cardWidth
    height: $cardHeight
    vertical-align: middle
    margin: 5px
    border-radius: 10px
    cursor: pointer
    +transition(all 0.15s ease)

    &:hover 
        +box-shadow(5px 5px 3px rgba(black, 0.65))
        +transform(translate(-5px, -5px))

        .tooltip
            opacity: 1
            visibility: visible
            top: $cardHeight + 15px

    .tooltip 
        visibility: hidden
        position: relative
        padding: 10px 15px 5px
        width: $cardWidth * 1.5 - 10px
        top: $cardHeight + 20px
        text-align: left
        background: $tooltipBg
        opacity: 0
        font: 12px/18px 'Tahoma'
        +transition(all 0.15s ease)

        &:before 
            content: ''
            +caret(top, $tooltipBg)
            position: absolute
            top: -10px
            left: (($cardWidth)/2) - 10px
        
        H4 
            margin: 0

.hero-card
       
.hero-pick
    .hero-card
        &.selected-hero
            +box-shadow(0 0 15px 2px gold)

.players-stat
    float: right
    width: 200px
    background: green
    height: 500px