.form {
  &-row {
    text-align: left;
    margin: 0 0 15px 0;
  }

  &-label {
    display: block;
  }

  &-input[type="TEXT"],
  &-input[type="EMAIL"],
  &-input[type="PASSWORD"] {
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: none;
  }
}
