.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  padding: 10px 20px;
  font-weight: 300;
}

.route--active {
  font-weight: bold;
  text-decoration: underline;
}
